.sidebarMain.dark {
  --primary-color: #0f1824;
    --panel-color: #132337;
    --text-color: #fff;
    --black-light-color: #ccc;
    --border-color: #1c2e45;
    --toggle-color: #fff;
    --box1-color: #1b365d;
    --box2-color: #312d5d;
    --box3-color: #163a46;
    --box4-color: #3f2a3a;
    --title-icon-color: #fff;
    --hover-bg-color: #1c2e45;
    --hover-text-bg-color: #92afd3;
    --primary-btn-color: #3b82f6; 
    --danger-color: #f43f5e;
    --success-color: #4ade80;
    --secondary-color: #9ca3af;
    --warning-color: #fbbf24;
    --btn-color: #999;

    /*============= Transition============*/
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}


.sidebarMain.dark .sidebar-switch::before{
  left: 25px;
}

.sidebarMain {
  min-height: 100vh;
  background-color: var(--primary-color);
  position: relative;
}

.sidebar.close {
  width: 73px;
  transition: var(--tran-05);
}

.sidebar.close .sidebar-logo{
  justify-content: start;
  .sidebar-logo-imgs {
    min-width: 60px;
    margin: 6px 0 0 6px;
  }
  .sidebar-logo-name {
    opacity: 0;
    pointer-events: none;
  }
}

.sidebar.close .sidebar-item .sidebar-link .sidebar-link-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);

  .sidebar-logo {
    display: flex;
    justify-content: center;
    min-width: 70px;
    margin: 12px 0;
    .sidebar-logo-imgs {
      width: 70px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .sidebar-logo-name {
    display: flex;
    align-items: center;
    margin-left: 14px;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-05);
  }

  .sidebar-menu {
    margin-top: 21px;
    height: calc(100% - 90px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .sidebar-logout {
      padding-top: 12px;
      border-top: 1px solid var(--border-color);
    }
    .sidebar-toggle {
      position: absolute;
      right: 14px;
      height: 50px;
      min-width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .sidebar-mode {
      display: flex ;
      align-items: center;
      white-space: nowrap;

      &:hover .sidebar-link {
        background-color: transparent;
      }
    }
  }

  .sidebar-list {
    height: 72vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar-item {
    list-style: none;
    margin-bottom: 8px;
    .sidebar-link {
      display: flex;
      align-items: center;
      height: 50px;
      text-decoration: none;
      position: relative;
      &:hover {
        background-color: var( --hover-bg-color);
        transform: translateX(2px);
        margin-right: 2px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
      &:hover i{
        color: var(--hover-text-bg-color);
      }
      &:hover .sidebar-link-name {
        color: var(--hover-text-bg-color);
      }
      i{
        font-size: 2rem;
        min-width: 73px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--black-light-color);
      }
      .sidebar-link-name {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--black-light-color);
        transition: var(--tran-05);
        white-space: nowrap;
      }
    }
  }
  .sidebar-switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 45px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    &::before {
      content: "";
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: var(--panel-color);
      transition: var(--tran-05);
    }        
  }
}


@media (max-width: 768px) {
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 50;
    cursor: pointer;
  }
  .sidebar.close {
    transform: translateX(-100%); 
  }

  .admin-content.sidebar-closed {
    left: 0;
    width: 100%; 
  }
  
  .sidebar {
    width: 300px;
    z-index: 100;
  }

  .admin-content {
    left: 300px; 
  }

  .admin-content.sidebar-closed {
    left: 0; 
  }
}